html body {
    background-color: #EDF3F8 ;
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
    
    
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: normal !important;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: normal !important;

}



p {
    font-family: 'Public Sans', sans-serif !important;
    line-height: 28px !important;

}




/*Global styles */

.text-primary-light{
    color: #6C8294;
}

.text-primary-dark {
    color: #36536b;
}

.text-primary-white {
    color: #FBFCFE;
}


/* Navbar Stying*/


.navbar {
    margin-top: 40px;
    background-color: none;
}
.navbar-nav {
    margin-left: 60px;
   
}

.nav-item {
    margin-right: 40px;
    font-weight: bold;
    font-size: 15px;
    opacity: 0.7;
    color: #36536B ;
}

.nav-item:hover {
    opacity: 1;
    color: #36536B
}

.schedule-demo-btn {
    width: 173px;
    height: 48px;
    font-size:15px ;
    font-weight: bold !important;
    color: #FBFCFE !important;
    background: #BA4270 !important;
    display: flex !important;
    justify-content: center !important;
    vertical-align: center !important;
    align-items: center !important;
    border-radius: 24px !important;
    border: none !important;
}

.schedule-demo-btn:hover {
    background-color: #DA6D97 !important;
}

/* Hero section index.html*/

.hero-section {
    height: 100vh;
    overflow: hidden;
    background: url('assets/bg-pattern-circle.svg');
    background-repeat: no-repeat;
    background-position: 780px -150px;
        
}

.hero-container {
    display: flex;
}

.hero-left-col {
    width: 546px;
    height: 345px;
}

.hero-right-col {
    width: calc(1111px - 546px);
    
}

.hero-circle {
    right: -850px;
    top:-1500px;
    z-index: 900;
}

.hero-phone-container {
    width:  100%;
    
}
.hero-phone {
    margin-left: 150px;
    padding-top: 25px;
    
}

.hero-text {
    margin-top: 145px;
}
.hero-text h1 {
    font-size: 72px;
    font-weight: normal;
}

.hero-lead-capture-container {
    margin-top: 50px;
}

.hero-lead-input {
    border: none !important;
    border-radius: 24px !important;
    width: 445px;
}

.hero-lead-btn {
    z-index: 999;
    margin-left: -170px;
}

.any-questiona {
    margin-left: 30px;
}

/* Work section starts */

.work-section { 
    background-color: #1B262F;
    height: 472px;
}

.work-section-row {
    height: 100%;
}

.work-section-text-container {
    margin-top: 110px;
    width: 445px;
    
}

.work-section-text-container h1 {
    font-size: 48px;
    font-weight: normal ;
    
}

.work-section-subtext {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 15px;
    opacity: 0.7;
}

.work-section-btn {
    background-color: transparent !important;
    border-radius: 24px !important;
    border: 1px solid #FBFCFE !important;
    height: 48px !important;
    width: 129px !important;
    font-size: 15px;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    transition: 0.4s !important;
}

.work-section-btn:hover {
    background-color: #FFFF !important;
    color: #1B262F !important;
    font-weight: bold;
}

.work-section-companies-container {
    height: 100%;
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    margin-top: -15px;
}

.companies-logo {
    margin-top: 30px;
    
  }

  .logo-container {
    display: flex;
    vertical-align: center;
    justify-content: center;
    align-items: center;
  }

  /* Easy to implement secion starts*/

  .easy-to-implement-container {
      height: 400px;
      margin-top: 145px;
  }

  .easy-heading {
      font-size: 48px;
  }

  .easy-text-container {
      justify-content: center;
      vertical-align: center;
  }

  .easy-subtext {
      margin-top: 30px;
  }

  .easy-image-container {
      position: absolute;
  }
  .easy-image {
      position: relative;
      left: -60px;
  }

  /* Simple to implement section starts */

  .simple-section {
      height: 410px;
      margin-top: 140px;
  }

  .simple-image-col {
        height: 100%;
  }

  .simple-text-col
   {
   }
  .simple-text-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      vertical-align: center;
      justify-content: center;
  }

  .simple-heading {
      font-size: 48px;
  }

  .simple-subtext {
      margin-top: 30px;
      
  }

  .simple-image {
      margin-top: -50px;
      margin-left: -30px;
  }

  /* Three points section starts */

  .three-points-section {
      height:300px;
      margin-top: 200px;
  }

  .points-container {
      display: flex;
      flex-direction: column;
      vertical-align: center;
      align-items: center;
      justify-content:center;
  }

  .points-heading {
      font-size: 18px;
    margin-top: 30px;
    margin-bottom: 17px;
  }

  .points-subtext {
      font-size: 15px;
  }

  /* Cta section starts */

  .cta-section {
      margin-top: 100px;
      margin-bottom: 100px;
  }
  .cta-container {
      display: flex;
      align-items: center;
  }

  .cta-section-container {
      display: flex;
  }

  .cta-heading {
      font-size: 48px ;
  }

  .cta-capture {
      align-items: flex-end;
      justify-content: flex-end;
  }

  .cta-input {
      height: 48px;

  }

  .cta-btn {
      height: 48px;
  }

  /* Footer section starts*/

  .footer {
      min-height: 100px;
      background-color: #1B262F;
      display: flex;
      align-items: center;
  }

  .footer-container {
      display: flex;
      
  }

  .footer-links {
      height: 100%;
      margin-left:60px ;
      align-items: center;
  }

  .footer-link {
      margin-right: 40px;
      color:#FBFCFE !important;
      opacity: 0.7;
      font-size: 15px;
  }

  .footer-socials img {
      margin: 10px;
  }

  /* Pricing.html page*/

  .pricing-heading {
      font-size: 52px;
      margin-top: 80px;
  }

  .pricing-columns {
      min-height:582px;
      margin-top:70px;
      margin-bottom:100px
  }

  .pricing-plan-top {
      height: 192px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .pricing-plan-heading {
      color: #BA4270;
      font-size: 32px;
      font-weight: normal;
  }

  .pricing-plan-subtext {
      color: #6C8294;
      font-size: 15px;
  }

  .pricing-plan-price {
      font-size: 56px;
  }

  .pricing-plan ul {
    padding-left: 0px !important;
    margin-top: 20px;
}
.pricing-plan ul li {
    list-style-type: none !important;
    margin-bottom: 15px;
    color:#36536B;
}

.bullet-text-check {
    padding-left: 20px;
}

.bullet-text-hidden {
    padding-left: 40px;
    opacity: 0.5;

}

.pricing-btn {
    border: 1px solid #36536B !important;
    color: #36536B !important;
    font-size: 15px !important;
    height: 48px !important;
    width: 169px !important;
    font-weight: bold !important;
}

.pricing-btn:hover {
    background-color: #36536B !important;
    color: #FBFCFE !important;
}

/* About page */

.about-heading {
    width: 720px;
    font-size: 56px;
    margin-top: 90px;
}

.about-empower-subtext {
    font-size: 15px;
    color: #6C8294;
    line-height: 28px;
}

.empower-first-row {
    margin-top: 70px;
    margin-bottom: 55px;
}
 /* Tablet styling breakpoints */ 

 @media (min-width: 768px) and (max-width: 1024px) { 

    /* Hero section tablet*/

    .hero-section {
        height: 110vh;
    }
     .hero-container {
         flex-direction: column;
         height: 710px;
     }

     .hero-left-col {
         order: 2;
         margin: 0 auto;
         width: 100%;

     }

     .hero-text {
         
         width: 573px;
         margin: 30px auto;
         text-align: center;
         
         
     }

     .hero-right-col {
         order: 1;
         width: 100%;
     }

     .hero-text h1 {
        font-size: 52px;
        
     }

     .hero-phone-container {
    height: 600px;        
     }

    .hero-phone {
       margin-left: 165px;
    }

    .hero-lead-capture-container {
        justify-content: center;

    }

    .any-questions {
        margin-left:  0px ;
    }


    /* Who we work with section tablet */

    .work-section{
        height:625px ;
    }
     
    .work-section-companies-container {
        height: 40% !important;
    }

    .work-section-col {
        height: 60%;
    }

    .work-section-text-container {
        margin: 0 auto !important;
        text-align: center;
    }

    .work-section-btn {
        margin: 0 auto;
    }

    /* Easy To implement section*/

    .easy-to-implement-section {
        height: 434px;
    }

    .easy-to-implement-container {
        margin-top: 100px;
        
    }

    .easy-image-container {
        width: 100%;
        text-align: center;
    }

    .easy-image {
        left: 0px;
    }

    .easy-text-container {
        text-align: center;
        width: 573px;
        margin: 0 auto;
        justify-content: flex-start;
    }

    /* Simple UI section*/

    .simple-section {
        margin-top: 300px;
        height: 504px
    };

   .simple-image-container {
       text-align: center;
   }

   .simple-image {
       margin-left: 0px;
       margin-top: -100px;
   }

   .simple-image-col {
       height: calc(504px - 146px);
   }
   .simple-text-col {
       height: 146px;
       margin-top: -180px;
       text-align: center;
   }

   .simple-subtext {
       width: 573px;
       margin: 30px auto;
   }

   /* Three points section */

   .three-points-section {
       margin-top: 0px;
   }

   /* CTA section*/

   .cta-section-container {
    flex-direction: column;
    text-align: center;
   }

   .cta-container {
       justify-content: center;
       align-items: center;
       text-align: center;
       margin-top: 35px;
   }
   .cta-heading {
       margin: 0 auto !important;
   }


   /* Pricing page*/

   .pricing-heading {
        text-align: center;   
        font-size: 48px;
    }

    .pricing-plan-heading {
        font-size: 24px;
    }

    .pricing-plan-price {
        font-size: 48px;
    }
  
   
 }

 /* Mobile responsiveness */ 

 @media (min-width: 370px) and (max-width: 767px) {

    .hero-section {
        height: 100vh;
    }

    .hero-text {
        text-align: center;
    }

    .hero-text h1 {
        font-size:32px
    }

    .hero-lead-capture-container {
        flex-direction: column;
        width: 100%;
    }

    .hero-container{
        flex-direction: column;
    }

    .hero-lead-btn {
        width: 100%;
    }

    .hero-left-col {
        order: 2;
    }

    .hero-right-col {
        order: 1;
        width: 100%;
    }

    .hero-phone-container{
        width: 100%;
        text-align: center;
    }

    .hero-phone {
        margin-right: -20px;
    }

    .hero-left-col {
        width: 100%;
    }

    .hero-text {
        margin-top: 0px;
    }

    .hero-lead-input {
        height: 48px;
        width: 100%;
    }

    .hero-lead-btn {
        margin-left: 0px;
        margin-top: 20px;
    }

    /*Who we work with section */


    .work-section {
        height: 670px;
    }
    .work-section-text-container {
        width: 100%;
    }
   

    .work-section-row {
        height: 300px;
    }

    .work-section-text-container {
        margin-top: 0px;
        text-align: center;
    }

    .work-section-text-container h1{
        font-size: 32px;
    }

    .work-section-btn {
        margin: 0 auto;
    }

    /*Easy to work with section */

    .easy-to-implement-section {
        height: 430px;
    }

    .easy-to-implement-container {
        margin-top: 60px;
        height: 240px;
    }

    .easy-image-container {
        position: static;
        text-align: center;
    }
    .easy-image {
        left: 0;
        position: inherit;
        margin-right: -30px;
    }

    .easy-image-col {
        height: 210px;
    }

    .easy-col {
        height: 230px;
    }

    .easy-text-container {
        text-align: center;
    }
    .easy-heading {
        font-size: 32px;
    }

    .easy-subtext {
        font-size: 15px;
        margin-top: 25px;
    }

    /* Simple section */

    .simple-section {
        margin-top: 85px;
        height: 500px;
    }
    .simple-image {
    margin-left: 0px;
    margin-right: -30px;
 }

 .simple-heading{
     font-size:32px;

 }
 .simple-image-col {
     height: 290px;
 }

 .simple-text-container {
     height: 150px;
     text-align:center;
 }

 /* Three points section */

 .three-points-section {
     height: 984px;
     margin-top: 30px;
 }

 .points-container {
     margin-top: 50px;
 }

 /* CTA section*/

 .cta-section {
     margin-top: 120px;
 }


 .cta-heading {
     font-size: 32px;
     margin: 30px auto;
 }
    .cta-section-container {
        flex-direction: column;
        text-align: center;
    }

    .cta-container {
        flex-direction: column;
    }

    /*Footer section */

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .footer-link {
        padding-top: 35px;
        margin-right: 0px;
        font-weight: bold;
    }

    .footer-socials {
        margin: 30px auto !important;
    }

    /*Pricing page */

    .pricing-plan {
        margin-bottom:50px
    }

    .pricing-heading {
        text-align: center;
        font-size: 32px;
    }

    .pricing-plan-heading {
        font-size: 24px;
    }
    .pricing-plan-subtext {
        display: none;
    }

    .pricing-plan-top {
        text-align: center;
    }

    .pricing-plan-bottom {
        padding-left: 30%;
    }

    .pricing-btn-container {
        text-align: center;
    }

    .cta-section {
        margin-top: 20px;
    }
}

  